
<!DOCTYPE html>
<html>
<head>
	<title>CR</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
</head>
<body>
<div>
	<a href="#" ><div id="mapid" style="width: 85%; height: 550px; margin: 0px ;float:right; "></a>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
	<script src="/app/assets/javascripts/map.js"></script>
</div>
	</div>
	<button onclick="buttonClick()">วิธีการค้นหาแบบวงกลม</button>
	<!-- <div><%= link_to "Go!", infomaps_circle_path  %></div> -->
	<button type="button" onclick="loadDoc()">Test Point</button>
	<div class='menu' >
		<td>Search by Name Station</td>
		<%= form_tag infomaps_index_path, method: 'get' do%>
		<td>
			<%= select_tag(:station,options_from_collection_for_select(Infomap.all, :id, :name_station,params[:station]), onchange: "this.form.submit()")%>
		</td> 
		<%end%>
		<td>Search by Area</td>
		<%= form_tag infomaps_index_path, method: 'get' do%>
		<td>
			<%= select_tag(:draw,options_for_select([['off', 1], ['circle', 2], ['polygon',3]],params[:draw]), onchange: "this.form.submit()")%>
		</td> 
		<%end%>
	</div>
	<p id="Point"></p>

</body>
</html>


