
<!DOCTYPE html>
<html>
<head>
	<title>CR</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
		
</head>
<body>
	<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

	<div id="mapid" style="width: 85%; height: 550px; margin: 0px ;float:right; ">

	<script>
		var reservoir = new L.LayerGroup();

		var mbAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYmlnYnl0ZSIsImEiOiJjaXM5ejEzMzkwMDZiMm9vZjNhbWZhejYwIn0.GKqsUdM5SNhJ_JelmqAOGQ';

	    var satellite   = L.tileLayer(mbUrl, {id: 'mapbox.satellite', attribution: mbAttr}),
		    streets  = L.tileLayer(mbUrl, {id: 'mapbox.streets',   attribution: mbAttr});

		var mymap = L.map('mapid', {
			center: [19.9088, 99.83414],
			zoom: 11,
			layers: [streets, reservoir]
		});

		var baseLayers = {
			"Streets": streets,
			"Satellite": satellite			
		};

		var overlays = {
			// "": reservoir
		};
		
		L.control.layers(baseLayers, overlays).addTo(mymap);		
		

		var popup = L.popup();
			
		<% if (@name != nil)%>
			marker = L.marker([<%=@y%>, <%=@x%>]).addTo(mymap)
			marker.bindPopup("<%= @name%>").openPopup();
		<% end %>		
		
   		var clickCircle;
		function onMapClick(e) {
				<% if (params[:draw] == 2)%>
				    if (clickCircle != undefined) {
					      mymap.removeLayer(clickCircle);
					    };
					    clickCircle = L.circle(e.latlng, 1609 * 10, {
					      color: '#f07300',
					      fillOpacity: 0,
					      opacity: 0.5
					    }).addTo(mymap);
				<% else %>
				 popup
			        .setLatLng(e.latlng)
			        .setContent("You clicked the map at " + e.latlng.toString())
			        .openOn(mymap);
			    <% end %>
			}			
			mymap.on('click', onMapClick);
		
	</script>

	</div>
	<div class='menu' >
		<td>Search by Name Station</td>
		<%= form_tag infomaps_index_path, method: 'get' do%>
		<td>
			<%= select_tag(:station,options_from_collection_for_select(Infomap.all, :id, :name_station,params[:station]), onchange: "this.form.submit()")%>
		</td> 
		<%end%>
		<td>Search by Area</td>
		<%= form_tag infomaps_index_path, method: 'get' do%>
		<td>
			<%= select_tag(:draw,options_for_select([['off', 1], ['circle', 2], ['polygon',3]],params[:draw]), onchange: "this.form.submit()")%>
		</td> 
		<%end%>
	</div>

</body>
</html>
