<!-- 
<p><%=@result%></p>
<p><%=@data%></p>

<p><%=@all_dwithin%></p>
<p><%=@dwithin%></p>
 -->
<!-- <p><%=@testall_dwithin%></p> -->


<!-- <p><%= @testwithin%></p> -->

<!-- <p><%=@all_within%></p>
<p><%=@within%></p>

<p><%= @test%></p> -->

<!-- <p><%=@valid_points%></p> -->




<a href="#" ><div id="mapid" style="width: 85%; height: 550px; margin: 0px ;float:right; "></a>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="/assets/javascripts/map.js"></script>
</body>